body {
margin: 0;
font-family: Arial;
background: linear-gradient(135deg, #ffe6f0, #fff0f5, #ffe6f9);
}

.page {
display: none;
height: 100vh;
text-align: center;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.active {
display: flex;
}

/* cada foto separada */
.foto {
margin: 15px auto;
}

.foto img {
width: 80px;
height: 180px;
object-fit: cover;
border-radius: 15px;
border: 3px solid white;
box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.foto p {
margin-top: 5px;
color: #a61e4d;
}

/* textos */
h1, h2 {
color: #d63384;
}

/* botões */
button {
background: #ff4d88;
color: white;
border: none;
padding: 10px 15px;
border-radius: 20px;
cursor: pointer;
margin-top: 15px;
}

button:hover {
background: #d63384;
}

/* input */
input {
padding: 10px;
border-radius: 10px;
border: 2px solid #ff4d88;
text-align: center;
}
